---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import PostCard from '@/components/PostCard.astro';

const { slug } = Astro.params;

const posts = await getCollection('blog');

// slug の降順（新しいものが上に来る想定）でソート
posts.sort((a: { slug: any; }, b: { slug: string; }) => b.slug.localeCompare(a.slug));

const post = posts.find((p: { slug: any; }) => p.slug === slug);

if (!post) {
  throw new Error(`Post not found for slug: ${slug}`);
}

const { Content } = await post.render();

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post: { slug: any; }) => ({
      params: { slug: post.slug },
  }));
}

---

<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>{post.data.title}</title>
        <meta name="description" content={post.data.description} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DripNotes</title>
        <link rel="stylesheet" href="/styles/index.css">
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Monsterrat:wght@300;400&display=swap"> -->

        <!-- font awesome フォント持ってくる -->
        <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Oxanium:wght@200..800&family=Tilt+Neon&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <header class="header">
            <div class="header-container">
                <div class="header-left">
                    <a href="/index.html" class="header-icon-link">
                        <button class="home-back-button" aria-label="BackToHome">
                            <i class="fas fa-arrow-left"></i>
                        </button>
                    </a>
                </div>
                <div class="header-right">
                    <div class="header-sentence"><i class="fas fa-pen-nib"></i> Blogs</div>
                    <a href="/" class="header-icon-link share" aria-label="共有"><i class="fa-solid fa-link"></i></a>
                </div>
            </div>
        </header>
        
        <main>
            <div class="blog-section-container">
                <div class="view-blog-left-box">
                    <div class="components-container">
                        <article>
                            {post.data.thumbnail && (
                                <img
                                    src={post.data.thumbnail}
                                    alt={`サムネイル画像: ${post.data.title}`}
                                    class="thumbnail"
                                />
                            )}
                            <h1>{post.data.title}</h1>
                            <em>{post.data.date}</em>
                            <div class="article-container">
                                <Content />
                            </div>
                        </article>
                    </div>
                </div>
                <div class="view-blog-right-box">
                    <h2 class="section-heading">All posts</h2>
                    <div class="posts-container">
                        {posts.map((p: { data: { title: unknown; date: unknown; description: unknown; thumbnail: unknown; }; slug: unknown; }) => (
                            <PostCard
                                title={p.data.title}
                                date={p.data.date}
                                description={p.data.description}
                                slug={p.slug}
                                thumbnail={p.data.thumbnail}
                                isCurrent = {p.slug === slug}
                            />
                        ))}
                    </div>
                </div>
            </div>
        </main>

        <button id="page-top-btn" class="page-top-btn" aria-label="ページトップへ戻る">
            <i class="fa-solid fa-angle-up"></i>
        </button>

    </body>

    <script src="/scripts/indexScript.js" defer></script>
</html>
