---
import PostCard from '@/components/PostCard.astro';
import { getCollection } from 'astro:content';

// blog コレクションを取得
const posts = await getCollection("blog");

// slug 順にソート
posts.sort((a: { data: { slug: any; }; }, b: { data: { slug: string; }; }) => b.data.slug.localeCompare(a.data.slug));

// 記事の数を制限
const limitedPosts = posts.slice(0, 6);
const hasMorePosts = posts.length > 6;
---

<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DripNotes</title>
        <link rel="stylesheet" href="/styles/index.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Monsterrat:wght@300;400&display=swap">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <header class="header">
            <div class="header-container w-container">
                <div class="header-left">
                    <a href="/">
                        <img class="logo" src="/images/icon.png" alt="header_icon" width="50" height="50">
                    </a>
                </div>
                <div class="header-center appear">
                    <a href="index.html" class="cursive sentence">
                        Dri<span class="highlight">p</span>-Notes
                    </a>
                </div>
                <div class="header-right">
                    <button class="nav-toggle" id="nav-toggle" aria-label="Menu">
                        <i class="fas fa-bars"></i>
                        <span class="sr-only">MENU</span>
                    </button>
                </div>
            </div>
            <nav class="overlay-nav" id="overlay-nav">
                <div class="w-container">
                    <ul>
                        <li><a href="#profile">Profile</a></li>
                        <li><a href="#posts">Blog</a></li>
                        <li><a href="#contact">Works</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <section class="hero">
            <div class="hero-container w-container">
                <h1>
                    <div class="cursive sentence">Dri<span class="highlight">p</span>-Notes</div>
                    <div class="sentence" id="handwriting-text"></div>
                </h1>
            </div>
        </section>

        <main>
            <section class="component fade-in" id="profile">
                <h2 class="profile-heading bottom-border">Profile</h2>
                <p class="">
                    ネットワーク、ブロックチェーン、セキュリティ、web開発を学んでいる学生です。
                </p>
                <p>
                    自己紹介
                </p>
            </section>

            <section class="component fade-in target" id="posts">
                <h2 class="bottom-border">Blog</h2>
                <div class="posts-container">
                    {limitedPosts.map((post: { data: { title: any; date: any; description: any; thumbnail: any; }; slug: any; }) => (
                        <PostCard
                            title={post.data.title}
                            date={post.data.date}
                            description={post.data.description}
                            slug={post.slug}
                            thumbnail={post.data.thumbnail}
                        />
                    ))}
                </div>
                <div class="show-more">
                    <a href="/all-blogs/"><button class="show-more-button">show more <span class="arrow">↗</span></button></a>
                </div>
            </section>

            <section class="component fade-in" id="contact">
                <h2 class="bottom-border">Works</h2>
                <div class="show-more">
                    <a href="/all-works/"><button class="show-more-button">show more ↗</button></a>
                </div>
            </section>
        </main>

        <footer class="footer fade-in">
            <div class="footer-container w-container">
                <div class="cursive">
                    Dri<span class="highlight">p</span>-Notes
                </div>
                <div class="footer-row">
                    <ul class="footer-sns">
                        <li><a href="https://x.com/sXMN1au45a68174"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://github.com/NoCream-jp" target="blank" rel="noopener"><i class="fab fa-github"></i></a></li>
                        <!-- <li><a href="https://atcoder.jp/users/Caffeineholic" target="blank" rel="noopener"><img src="C:my-astro-site\public\images\AtCoder_logo_white.png" alt="AtCoder logo" style="background-color: #333;"></a></li> -->
                    </ul>
                    <ul class="footer-menu">
                        <li><a class="site" href="#">Contact me ▷</a></li>
                        <li><a class="site" href="#">Assets | Credits ▷</a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <script src="/scripts/indexScript.js" defer></script>
    </body>
</html>